@import "../../../../../../utils/css/variables.scss";

.quest-scroll-list {
  position: absolute;
  top: 140px; // calc(180px / #{$gameplay_scale});
  left: 35px; // calc(45px / #{$gameplay_scale});
  width: 530px; // calc(690px / #{$gameplay_scale});

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 45px; // calc(56px / #{$gameplay_scale});
  justify-items: center;
}
