@import "../../../../utils/functions.scss";

.hero-list {
  position: absolute;
  top: to-gameplay-scale(160px);
  right: to-gameplay-scale(180px);
  width: to-gameplay-scale(460px);
  height: to-gameplay-scale(500px);

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: to-gameplay-scale(20px);
}
