.quest-process {
  &__canvas {
    align-self: center;
    width: 650px;
    height: 500px;
    display: flex;
    background-image: url(../../../../img/quest-perform/quest-process__back.jpg);
    background-size: cover;

    &-dynamic {
      margin-left: -650px;
    }
  }

  &__btn_onwards {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);

    font-family: inherit;
    font-size: 24pt;
    cursor: pointer;
    border-radius: 6px;
    width: 30%;
  }
}
