@import '../../../../utils/css/index.scss';

.heroes-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  z-index: 1020;

  &__heroes {
    margin: 0 auto;
    display: flex;
    gap: 8px;
  }

  &__backpack {
    margin: 0 auto;
    height: 340px;
    max-height: 340px;
    width: 340px;
    max-width: 340px;
    background-image: url(../../../../img/quest-perform/backpack.png);
    background-size: cover;
  }

  &__backpack_content {
    padding: 70px 0 0 40px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }

  &__item {
    @include strokeText;
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    border: 1px solid #777;
    border-radius: 10px;
    cursor: pointer;

    &_amount {
      position: absolute;
      right: 6px;
      bottom: 6px;
      font-size: 18px;
      color: bisque;
    }

    @each $type in 'health_potion' 'health_elixir' 'mana_potion' 'mana_elixir' 'wand_fireball' 'wand_stun' {
      &--#{$type} {
        background-image: url(../../../../img/items/#{$type}.png);
        background-size: contain;
      }
    }
  }

  &__hero-actions {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
  }

  &__hero-action {
    width: 80px;
    height: 80px;
    border: 2px solid darkcyan;
    box-shadow: 0px 5px 5px black;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;

    @each $type in 'skill' 'item' 'defence' {
      &_#{$type} {
        background-image: url(../../../../img/quest-perform/battle-process/actions/battle-action__#{$type}.jpg);
      }
    }

    &_active {
      border: 1px solid yellow;
    }

    &_disabled {
      opacity: 0.5;
    }
  }

  &__action-msg {
    @include strokeText;
    margin: 0 auto;
    height: 82px;
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 5px 5px black;

    &_message {
      padding: 10px;
      font-size: 20px;
      color: white;
    }

    &_close-btn {
      @include strokeText;
      width: 60px;
      min-width: 60px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      font-size: 70px;
      color: lightsalmon;
      background-color: #777;
      border: 1px solid black;
      border-radius: 10px;
    }
  }

  &_hidden {
    display: none;
  }
}
