.heroes-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  &__heroes {
    margin: 0 auto;
    display: flex;
    gap: 10px;
  }

  &__hero-action {
    width: 60px;
    height: 60px;
    border: 2px solid darkcyan;
    background-color: rgba($color: brown, $alpha: 0.6);
    box-shadow: 0px 5px 5px black;
  }

  &__hero-actions {
    margin: 0 auto;
    display: flex;
    gap: 5px;

    &_hidden {
      display: none;
    }
  }
}
