@import "../../../../utils/css/index.scss";

.guild-display {
  width: $overlay_display_width;
  height: $overlay_display_height;
  background-image: url(../../../../img/building-display/guild-display/guild-display_background.png);
  background-size: contain;

  &__btn--show-unabled {
    font-family: inherit;
    font-size: 20px;
    display: flex;
    position: absolute;
    top: 20px;
    right: 85px;
    background-color: transparent;
    border: 1px solid yellowgreen;
    color: yellowgreen;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    &:hover {
      border: 1px solid yellow;
    }

    & > i {
      align-self: center;
      color: yellowgreen;
    }

    & > span {
      align-self: center;
      margin: 0 5px;
    }
  }

  @mixin pageBtn {
    position: absolute;
    top: to-gameplay-scale(700px);
    width: to-gameplay-scale(260px);
    height: to-gameplay-scale(38px);
    background-image: url(../../../../img/building-display/guild-display/guild-scroll_hero.png);
    background-size: cover;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__btn--previous {
    @include pageBtn;
    left: to-gameplay-scale(830px);

    &:hover {
      background-image: url(../../../../img/building-display/guild-display/guild-btn_scroll_hero_hover.png);
    }
  }

  &__btn--next {
    @include pageBtn;
    left: to-gameplay-scale(1090px);
    transform: scale(-1);

    &:hover {
      background-image: url(../../../../img/building-display/guild-display/guild-btn_scroll_hero_hover.png);
    }
  }
}
