@import "../../../../utils/css/index.scss";

@mixin pageBtn {
  width: 80px;
  height: 30px;
  background-image: url(../../../../img/building-display/guild-display/guild-scroll_hero.png);
  background-size: cover;
  background-position-x: -15px;
  border: none;
  outline: none;
  background-color: transparent;
}

.guild-display {
  display: flex;

  &__hero-list {
    display: none;
    // display: flex;
    flex-direction: column;
  }

  &__btn-holder {
    display: flex;
    padding-top: 10px;
  }
}

.btn {
  &--show-unabled {
    margin-right: 10px;
    font-family: inherit;
    font-size: 16px;
    display: flex;
    background-color: transparent;
    border: 1px solid yellowgreen;
    color: yellowgreen;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    &:hover {
      border: 1px solid yellow;
    }

    & > i {
      align-self: center;
      color: yellowgreen;
    }

    & > span {
      align-self: center;
      margin: 0 5px;
    }
  }

  &--previous {
    @include pageBtn;

    &:hover {
      background-image: url(../../../../img/building-display/guild-display/guild-btn_scroll_hero_hover.png);
    }
  }

  &--next {
    @include pageBtn;
    transform: scale(-1);

    &:hover {
      background-image: url(../../../../img/building-display/guild-display/guild-btn_scroll_hero_hover.png);
    }
  }
}
