@import "../src/utils/css/variables.scss";
@import "./vendor/fonts/fonts.css";

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pattaya", sans-serif;
  // font-family: "Oswald", sans-serif;
  // font-family: "Roboto Slab", sans-serif;
  // font-family: "Yanone Kaffeesatz", sans-serif;
  // font-weight: bold;
  line-height: 1;
  background-color: #004975;
}
