.alchemist-item {
  width: 93vw;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  border-radius: 10px;
  background-color: #857565;
  box-shadow: 0px 5px 5px black;

  & > * {
    cursor: default;
  }

  &__img {
    grid-row: 1 / -1;
    grid-column: 1;
    width: 64px;
    height: 64px;
  }

  &__name {
    grid-row: 1;
    grid-column: 2;
    font-size: 26px;
    color: lightblue;
    align-self: center;
  }

  &__description {
    grid-row: 2;
    grid-column: 2 / -1;
    color: lightblue;
    align-self: center;
  }

  &__price {
    grid-row: 1;
    grid-column: 3;
    margin-right: 5px;
    align-self: center;
    justify-self: end;
    color: yellow;
  }
}
