.alchemist-item {
  display: grid;
  grid-template-columns: repeat(7, 53px);
  grid-template-rows: repeat(2, 1fr);
  background-color: #857565;
  border-radius: 5px;

  & > * {
    cursor: default;
  }

  &__img {
    grid-row: 1 / -1;
    grid-column: 1;
    width: 64px;
    height: 64px;
    margin-left: 2px;
  }

  &__name {
    grid-row: 1;
    grid-column: 2 / 6;
    color: lightblue;
    margin-left: 15px;
    align-self: center;
  }

  &__description {
    grid-row: 2;
    grid-column: 2 / 8;
    color: lightblue;
    margin-left: 15px;
    align-self: center;
  }

  &__price {
    grid-row: 1;
    grid-column: 7;
    margin-right: 5px;
    align-self: center;
    justify-self: end;
    color: yellow;
  }
}
