@import "../../utils/variables.scss";

.gameplay__world__btn--building {
  &-tavern {
    position: absolute;
    top: calc(345px / #{$gameplay_scale});
    left: calc(863px / #{$gameplay_scale});
    background-image: url(../../img/tavern_btn.svg);
    background-size: 100%;
    width: calc(140px / #{$gameplay_scale});
    height: calc(140px / #{$gameplay_scale});
    cursor: pointer;
    opacity: 0;

    &:hover {
      opacity: 0.3;
    }
  }

  &-guild {
    position: absolute;
    top: calc(225px / #{$gameplay_scale});
    left: calc(962px / #{$gameplay_scale});
    background-image: url(../../img/guild_btn.svg);
    background-size: 100%;
    width: calc(190px / #{$gameplay_scale});
    height: calc(190px / #{$gameplay_scale});
    cursor: pointer;
    opacity: 0;

    &:hover {
      opacity: 0.3;
    }
  }
}
