@import "../../../../../utils/variables.scss";
@import "../../../../../utils/functions.scss";

.actor-item-list {
  display: inline-block;
  width: to-gameplay-scale($progress-item_width);

  & > * {
    display: inline-flex;
    gap: 3px;
    width: fit-content;
  }

  &__enemies {
    float: right;
  }
}
