@import "../../utils/variables.scss";

.gameplay {
  display: block;
  width: $gameplay_width;
  height: $gameplay_height;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47.5%);

  background-image: url(../../img/Village.jpg);
  background-size: cover;

  &__world {
    &__btn--building {
      position: absolute;
      background-size: inherit;
      cursor: pointer;

      &-tavern {
        background-image: url(../../img/tavern_btn.svg);
        background-size: 100%;
        width: 90px;
        height: 90px;
        opacity: 0;

        &:hover {
          opacity: 0.3;
        }
      }

      &-guild {
        background-image: url(../../img/guild_btn.svg);
        background-size: 100%;
        width: 120px;
        height: 120px;
        opacity: 0;

        &:hover {
          opacity: 0.3;
        }
      }
    }
  }
}
