@import "../../../../../../utils/css/index.scss";

@mixin reward {
  width: fit-content;
  justify-self: right;
  font-size: 18px;
  color: yellow;
  background-color: grey;
  border-radius: 3px;
  border: 1px solid black;
  transform: translateY(-15px);
  box-shadow: 0 10px 10px rgba($color: black, $alpha: 0.5);
}

@keyframes hitted {
  0% {
    transform: translate(-3px, -5px);
  }
  25% {
    transform: translate(3px, -3px);
  }
  50% {
    transform: translate(-3px, -1px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes heal-playing {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.hero-item {
  position: relative;
  height: 190px;
  background-image: url(../../../../../../img/building-display/guild-display/guild-hero_display.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: default;

  display: grid;
  grid-template-columns:
    7px
    55px
    55px
    15px;
  grid-template-rows:
    27px
    63px
    45px
    38px;
  column-gap: 10px;

  & > * {
    align-self: center;
  }

  &--hoverable {
    &:hover {
      transform: scale(1.05);
    }
  }

  &__btn--assign {
    font-family: inherit;
    width: 92px;
    height: 27px;
    background-image: url(../../../../../../img/building-display/guild-display/guild-btn_assign_hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1020;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    grid-row: 5;
    grid-column: 1 / -1;
    justify-self: center;
    transition: all 0.3s;
    margin-left: 4px;
    margin-top: 6px;

    &:hover {
      transform: translateY(-3px) scale(1.1);
    }
  }

  @mixin portrait {
    height: 62px;
    margin-top: -4px;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: -12px;
  }

  &__portrait {
    @each $type in "warrior" "paladin" "thief" "mage" "healer" {
      &--#{$type} {
        @include portrait;
        background-image: url(../../../../../../img/building-display/guild-display/guild-hero_icon_#{$type}.png);
      }
    }
  }

  &__type-level {
    font-size: 17px;
    line-height: 15px;
    grid-row: 2;
    grid-column: 3;
    margin-bottom: 18px;
  }

  &__health-bar {
    grid-row: 2;
    grid-column: 3;
    border: 1px solid white;
    justify-self: center;
    align-self: flex-end;
    margin-left: 3px;
    margin-bottom: 12px;
  }

  &__exp-bar {
    grid-row: 2;
    grid-column: 3;
    border: 1px solid white;
    justify-self: center;
    align-self: flex-end;
    margin-left: 3px;
    margin-bottom: 3px;
  }

  &__name {
    font-size: 18px;
    grid-row: 1;
    grid-column: 1/-1;
    justify-self: center;
  }

  &__power {
    font-size: 24px;
    grid-row: 3;
    grid-column: 2;
    margin-bottom: 10%;
    margin-left: 35px;
  }

  &__health {
    font-size: 24px;
    grid-row: 3;
    grid-column: 3;
    margin-bottom: 10%;
    margin-left: 27px;
  }

  &__gold {
    font-size: 24px;
    grid-row: 4;
    grid-column: 2/5;
    margin-left: 38px;
  }

  &__reward {
    &--gold {
      @include reward;
      grid-row: 4;
      grid-column: 3;

      &::before {
        content: "+";
      }
      &::after {
        content: "\00a0g";
      }
    }

    &--experience {
      @include reward;
      grid-row: 2;
      grid-column: 4;
      align-self: flex-end;

      &::before {
        content: "+";
      }
      &::after {
        content: "\00a0 exp";
      }
    }
  }

  &__heal-icon {
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 64px;
    height: 64px;
    transform: scale(1);
    z-index: 1050;
  }

  &--hitted {
    animation: hitted 0.8s;
    animation-iteration-count: 1;
  }
}

.heal-icon_playing {
  animation: heal-playing 1s;
  animation-iteration-count: 1;
}
