.treasure-process {
  display: grid;
  gap: 15px;
  width: 650px;
  height: 500px;
  background-image: url(../../../../../img/quest-perform/quest-perform_bg.jpg);
  background-size: cover;
  grid-row: 1 / -1;
  align-self: center;

  &__prebegin {
    display: grid;
    grid-template-columns: 2;
    color: bisque;
    align-self: center;
    justify-self: center;
    font-size: 3rem;
  }

  &__canvas {
    grid-column: 1;

    &--dynamic {
      margin-top: -515px;
      grid-column: 1;
    }
  }

  &__btn {
    &--smasing {
      position: absolute;
      left: 20%;
      bottom: 10%;
      // transform: translate(-50%, -50%);

      font-family: inherit;
      font-size: 24pt;
      cursor: pointer;
      border-radius: 6px;
      // width: 30%;

      background-image: url(../../../../../img/quest-perform/treasure_smash.png);
    }

    &--lockpicking {
      position: absolute;
      right: 20%;
      bottom: 10%;
      // transform: translate(-50%, -50%);

      font-family: inherit;
      font-size: 24pt;
      cursor: pointer;
      border-radius: 6px;
      // width: 30%;

      background-image: url(../../../../../img/quest-perform/treasure_lockpick.png);
    }

    &--onwards {
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, -50%);

      font-family: inherit;
      font-size: 24pt;
      cursor: pointer;
      border-radius: 6px;
      width: 30%;
    }
  }
}
