.treasure-process {
  display: grid;
  gap: 15px;
  width: 650px;
  height: 500px;
  background-image: url(../../../../../img/quest-perform/quest-perform_bg.jpg);
  background-size: cover;
  grid-row: 1 / -1;
  align-self: center;

  &__prebegin {
    display: grid;
    grid-template-columns: 2;
    color: bisque;
    align-self: center;
    justify-self: center;
    font-size: 3rem;
  }

  &__canvas {
    grid-column: 1;

    &--dynamic {
      margin-top: -515px;
      grid-column: 1;
    }
  }

  &__btn {
    &-choosing {
      position: absolute;
      bottom: 20%;

      width: 128px;
      height: 128px;
      cursor: pointer;

      background-color: rgba($color: white, $alpha: 0.3);
      border: none;
      border-radius: 10px;
      background-size: contain;

      &--smashing {
        left: 30%;
        box-shadow: 10px 5px 5px black;
        background-image: url(../../../../../img/quest-perform/treasure_smash.png);
      }

      &--lockpicking {
        right: 25%;
        box-shadow: -10px 5px 5px black;
        background-image: url(../../../../../img/quest-perform/treasure_lockpick.png);
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 5px 5px black;
      }
    }

    &--onwards {
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, -50%);

      font-family: inherit;
      font-size: 24pt;
      cursor: pointer;
      border-radius: 6px;
      width: 30%;
    }
  }
}
