@import "../../../../../../utils/css/functions.scss";

.hero-list {
  position: absolute;
  top: 92px; // to-gameplay-scale(120px);
  right: 92px; // to-gameplay-scale(120px);
  width: 355px; // to-gameplay-scale(460px);
  height: 385px; // to-gameplay-scale(500px);

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; // to-gameplay-scale(20px);
}
