@import '../../../../../../utils/css/index.scss';

.guild-assignee {
  width: 46%;
  max-width: 200px;

  &__btn--assign {
    padding: 5px;
    margin-top: -5px;
    position: relative;
    font-family: inherit;
    font-size: 26px;
    width: 100%;
    background-color: lightcoral;

    box-shadow: 0px 10px 15px black;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border: 1px solid white;
    outline: none;
    cursor: pointer;

    @include strokeText;

    &__title {
      font-weight: bold;
      color: grey;
    }

    &:hover {
      background-color: burlywood;
    }
  }
}
