@import "../../../../utils/css/index.scss";

.dwellings-display {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;

  &__name {
    @include buildingDisplayName;
  }

  &__habitants {
    display: flex;
  }
}
