@import "../../../../utils/css/index.scss";

.stables-display {
  @include defaultDisplayText;

  &__title {
    text-align: center;
  }

  &__count {
    color: yellowgreen;
    font-size: larger;
  }

  & li {
    margin-top: 15px;
    gap: 10px;
    list-style: none;
  }
}
