@import "../../../../utils/css/index.scss";

.stables-display {
  display: flex;
  flex-flow: column;
  gap: 10px;
  font-family: inherit;
  font-size: 24px;
  color: white;
  @include strokeText;

  &__title {
    text-align: center;
  }

  & li {
    margin-top: 15px;
    gap: 10px;
    list-style: none;
  }
}
