@import "../../../../utils/css/index.scss";

.training-ground-display {
  // width: 355px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
