@import "../../../utils/variables.scss";
@import "../../../utils/functions.scss";

.guild-display {
  display: block;
  width: $gameplay_width;
  height: $gameplay_height;
  background-image: url(../../../img/guild-display/guild-quest_board.png);
  background-size: cover;
  z-index: 1010;

  &__btn--close {
    float: right;
    margin-right: 3rem;
    margin-top: 1rem;
    width: to-gameplay-scale(84px);
    height: to-gameplay-scale(84px);
    background-image: url(../../../img/guild-display/guild-btn_dismiss_hero.png);
    border: none;
    outline: none;
    background-color: transparent;
    z-index: inherit;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__btn--show-unabled {
    font-family: inherit;
    display: flex;
    position: absolute;
    top: 65px;
    left: 820px;
    background-color: transparent;
    border: 1px solid yellowgreen;
    color: yellowgreen;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    &:hover {
      border: 1px solid yellow;
    }

    & > i {
      color: yellowgreen;
    }

    & > span {
      align-self: center;
      margin: 4px;
      margin-left: 5px;
    }
  }

  @mixin pageBtn {
    position: absolute;
    top: to-gameplay-scale(700px);
    width: to-gameplay-scale(260px);
    height: to-gameplay-scale(38px);
    background-image: url(../../../img/guild-display/guild-scroll_hero.png);
    background-size: cover;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__btn--previous {
    @include pageBtn;
    left: to-gameplay-scale(900px);

    &:hover {
      background-image: url(../../../img/guild-display/guild-btn_scroll_hero_hover.png);
    }
  }

  &__btn--next {
    @include pageBtn;
    left: to-gameplay-scale(1160px);
    transform: scale(-1);

    &:hover {
      background-image: url(../../../img/guild-display/guild-btn_scroll_hero_hover.png);
    }
  }
}
