@import "../../../../utils/variables.scss";

.game-world__building {
  &-TAVERN {
    position: absolute;
    top: 85px;
    left: 918px;
    width: 86px;
    height: 83px;
    background-image: url(../../../../img/map/Tavern.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-GUILD {
    position: absolute;
    top: 10px;
    left: 478px;
    width: 174px;
    height: 159px;
    background-image: url(../../../../img/map/Guild.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-HEALER {
    position: absolute;
    top: 430px;
    left: 545px;
    width: 114px;
    height: 89px;
    background-image: url(../../../../img/map/Healer.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-TREASURY {
    position: absolute;
    top: 30px;
    left: 261px;
    width: 170px;
    height: 110px;
    background-image: url(../../../../img/map/Treasury.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-TRAINING_GROUND {
    position: absolute;
    top: 30px;
    left: 671px;
    width: 164px;
    height: 89px;
    background-image: url(../../../../img/map/Training_ground.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-ALCHEMIST {
    position: absolute;
    top: 317px;
    left: 766px;
    width: 45px;
    height: 102px;
    background-image: url(../../../../img/map/Alchemist.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-SHAMAN {
    position: absolute;
    top: 34px;
    left: 45px;
    width: 198px;
    height: 190px;
    background-image: url(../../../../img/map/Shaman.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-BLACKSMITH {
    position: absolute;
    top: 428px;
    left: 304px;
    width: 83px;
    height: 76px;
    background-image: url(../../../../img/map/Blacksmith.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}
