@import "../../../../utils/css/index.scss";

.game-world__building {
  &-TAVERN {
    position: absolute;
    top: 167px;
    left: 856px;
    width: 111px;
    height: 124px;
    cursor: pointer;

    &:hover {
      background-image: url(../../../../img/map/tavern-frame.png);
      background-size: cover;
    }
  }

  &-GUILD {
    position: absolute;
    top: 0px;
    left: 465px;
    width: 196px;
    height: 175px;
    cursor: pointer;

    &:hover {
      background-image: url(../../../../img/map/guild-frame.png);
      background-size: cover;
    }
  }

  &-ALCHEMIST {
    position: absolute;
    top: 297px;
    left: 401px;
    width: 57px;
    height: 177px;
    cursor: pointer;

    &:hover {
      background-image: url(../../../../img/map/alchemist-frame.png);
      background-size: cover;
    }
  }

  &-MARKET {
    position: absolute;
    top: 58px;
    left: 141px;
    width: 157px;
    height: 151px;
    cursor: pointer;

    &:hover {
      background-image: url(../../../../img/map/market-frame.png);
      background-size: cover;
    }
  }

  &-HEALER {
    position: absolute;
    top: 430px;
    left: 545px;
    width: 114px;
    height: 89px;
    background-image: url(../../../../img/map/healer.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-TREASURY {
    position: absolute;
    top: 196px;
    left: 261px;
    width: 170px;
    height: 110px;
    background-image: url(../../../../img/map/treasury.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-TRAINING_GROUND {
    position: absolute;
    top: 30px;
    left: 671px;
    width: 164px;
    height: 89px;
    background-image: url(../../../../img/map/training_ground.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-TEMPLE {
    position: absolute;
    top: 236px;
    left: 45px;
    width: 198px;
    height: 190px;
    background-image: url(../../../../img/map/temple.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-BLACKSMITH {
    position: absolute;
    top: 450px;
    left: 250px;
    width: 83px;
    height: 76px;
    background-image: url(../../../../img/map/blacksmith.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-STABLES {
    position: absolute;
    top: 378px;
    left: 904px;
    width: 83px;
    height: 76px;
    background-image: url(../../../../img/map/stables.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-STORAGE {
    position: absolute;
    top: 350px;
    left: 730px;
    width: 83px;
    height: 76px;
    background-image: url(../../../../img/map/storage.png);
    background-size: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}
