@import "../../../../../utils/css/index.scss";

.tavern-patron {
  width: 46%;
  max-width: 200px;

  &__btn--hire {
    margin-top: -8px;
    padding: 5px;

    font-family: inherit;
    font-size: 26px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: bisque;
    border: none;
    outline: none;
    cursor: pointer;

    &__price {
      font-weight: bold;
      color: grey;
    }

    &__bits {
      @include strokeText;
      font-weight: bold;
      color: yellow;
    }

    &:hover {
      background-color: burlywood;
    }
  }
}
