@import "../../../../../utils/css/index.scss";

.tavern-patron {
  width: 46%;
  max-width: 200px;

  &__btn--hire {
    padding: 5px;
    margin-top: -5px;
    font-family: inherit;
    font-size: 26px;
    width: 100%;
    background-color: lightcoral;

    box-shadow: 0px 10px 15px black;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border: none;
    outline: none;
    cursor: pointer;

    @include strokeText;

    &__price {
      font-weight: bold;
      color: grey;
    }

    &__dust {
      font-weight: bold;
      color: yellow;
    }

    &:hover {
      background-color: burlywood;
    }
  }
}
