.quest-complete {
  &__container {
    display: flex;
    width: 750px;
    height: 500px;
    align-self: center;
    justify-self: center;
    background-image: url(../../../../img/quest-perform/quest-complete/quest-complete__background.png);
    background-size: cover;
    grid-row: 1 / -1;
    padding-left: 100px;
    gap: 50px;
  }
}
