@import '../../../../utils/css/index.scss';

.quest-complete {
  margin-top: 100px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  // background-image: url(../../../../img/quest-perform/quest-complete/quest-complete__background.png);
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;

  &__tribute {
    display: flex;
    font-size: 48px;
    @include strokeText;

    & img {
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }

    &--text {
      align-self: center;
    }
  }

  &__fame {
    display: flex;
    font-size: 48px;
    @include strokeText;

    & img {
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }

    &--text {
      align-self: center;
    }
  }

  &__btn_accept {
    @include strokeText;
    padding: 20px;
    margin-top: 50px;
    font-family: inherit;
    font-size: 30px;
    background-color: rgb(53, 177, 53);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px black;
    cursor: pointer;
  }
}
