@import "../../../../utils/css/index.scss";

.market-display {
  @include absoluteCenter;
  display: block;
  width: $gameplay_width;
  height: $gameplay_height;
  background-image: url(../../../../img/building-display/building-display__background.png);
  background-size: cover;
  z-index: 1010;

  &__btn--close {
    position: absolute;
    float: right;
    top: 1rem;
    right: 3rem;
    width: to-gameplay-scale(84px);
    height: to-gameplay-scale(84px);
    background-image: url(../../../../img/building-display/guild-display/guild-btn_dismiss_hero.png);
    border: none;
    outline: none;
    background-color: transparent;
    z-index: inherit;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__container {
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr;
    gap: 30px;
  }

  &__name {
    font-family: inherit;
    font-size: 3.4rem;
    color: peru;
    margin-top: 65px;
    text-align: center;
    grid-row: 1;
    grid-column: 1 / -1;
    @include strokeText;
    cursor: default;
  }

  &__visitors-holder {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: to-gameplay-scale(20px);
  }

  &__assortment__list {
    margin: 10px;
  }

  &__assortment-holder {
    height: 400px;
    grid-row: 2;
    grid-column: 1;
    display: flex;
    font-family: inherit;
    font-size: 2rem;
    @include strokeText;
    color: whitesmoke;
    overflow-y: scroll;
    background-color: #908070;
    border-radius: 5px;

    & ul {
      list-style: none;

      & li {
        margin-bottom: 10px;

        & hr {
          border-color: bisque;
        }
      }
    }
  }
}
