@import "../../../../utils/css/index.scss";

.market-display {
  display: flex;
  flex-direction: column;

  &__visitors-holder {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 5px;
  }

  &__assortment__list {
    margin: 10px;
  }

  &__assortment-holder {
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-size: 20px;
    @include strokeText;
    color: whitesmoke;
    overflow-y: scroll;

    & ul {
      list-style: none;

      & li {
        margin-bottom: 10px;

        & hr {
          border-color: bisque;
        }
      }
    }
  }
}
