@import "../../../../utils/css/index.scss";

.market-display {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65px 1fr;
  gap: 30px;

  &__name {
    @include buildingDisplayName;
  }

  &__visitors-holder {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 15px;
  }

  &__assortment__list {
    margin: 10px;
  }

  &__assortment-holder {
    height: 400px;
    grid-row: 2;
    grid-column: 1;
    display: flex;
    font-family: inherit;
    font-size: 20px;
    @include strokeText;
    color: whitesmoke;
    overflow-y: scroll;
    background-color: #908070;
    border-radius: 5px;

    & ul {
      list-style: none;

      & li {
        margin-bottom: 10px;

        & hr {
          border-color: bisque;
        }
      }
    }
  }
}
