@import '.././../../../utils/css/index.scss';

$bar-height: 65px;
$actor-height: 256px;
$actor-width: 256px;

.monster-item {
  @include strokeText;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  color: white;

  &__display {
    width: $actor-width;
    height: $actor-height;
    background-size: cover;
    pointer-events: none;

    @each $type in 'goblin' 'moth' 'snake' 'knight' {
      &_#{$type} {
        background-image: url(../../../../img/quest-perform/battle-process/actors/#{$type}.png);
        &_hit {
          background-image: url(../../../../img/quest-perform/battle-process/actors/#{$type}_hit.png);
        }
      }
    }

    &_hitted {
      animation: hitted 0.45s;
      animation-iteration-count: 1;
    }

    &_hit-anim {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(../../../../img/quest-perform/battle-process/attack.gif);
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__bar-holder {
    position: absolute;
    width: 70px;
    border: 1px solid white;
    background-color: rgba($color: black, $alpha: 0.7);
  }

  &__bar {
    height: 12px;
    &_health {
      background-color: red;
      transition: all 1s;
    }

    &_overlay {
      margin-left: 2px;
      width: calc(100% - 4px);
      height: 85%;
      background: linear-gradient(to bottom, rgba($color: white, $alpha: 0.4), rgba($color: white, $alpha: 0.2));
    }
  }

  &__defeated {
    // компенсируем отсутствие healthbar
    margin-top: 30px;
    width: $actor-width;
    height: $actor-height;
    display: flex;
    background-image: url(../../../../img/quest-perform/battle-process/gravestone.png);
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}
