@import "../../../utils/css/index.scss";

.quest-perform {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-image: url(../../../img/quest-perform/camping.png);
  background-position: center;
  background-size: cover;
  cursor: default;
  z-index: 1000;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include strokeText;
    min-height: 40px;
    display: flex;
    align-self: center;
    align-items: center;
    font-family: inherit;
    font-size: 26px;
    color: darkkhaki;
    cursor: default;
  }

  &__btn-close {
    @include closeOverlayBtn;
  }

  &__heroes-holder {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
