@import "../../../utils/css/index.scss";

.quest-perform {
  @include absoluteCenter;
  width: 100vw;
  height: 100vh;

  background-color: rgba($color: black, $alpha: 0.8);
  cursor: default;
  z-index: 1000;

  &__container {
    @include absoluteCenter;
    width: $overlay_display_width;
    height: $overlay_display_height;
    display: flex;
    background-image: url(../../../img/quest-perform/quest-perform__container.png);
    background-size: contain;
    z-index: 1010;
  }

  &__name {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    font-family: inherit;
    font-size: 34px;
    color: peru;
    @include strokeText;
    cursor: default;
    text-align: center;
  }

  &__btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70px;
    height: 40px;
    background-image: url(../../../img/building-display/building-display__btn-close.png);
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 2000;
    cursor: pointer;

    &:hover {
      background-image: url(../../../img/building-display/building-display__btn-close_hover.png);
    }
  }

  &__heroes-holder {
    margin: 20px;
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: min-content;
    gap: 15px;
  }
}
