@import "../../../../utils/functions.scss";
@import "../../../../utils/mixins.scss";
@import "../../../../utils/animations.scss";

.quest-progress-item {
  width: to-gameplay-scale(312px);
  height: to-gameplay-scale(118px);
  background-image: url(../../../../img/quest-progress/quest-progress_holder.png);
  background-size: contain;
  cursor: default;

  display: grid;
  grid-template-rows: 28px 1fr;
  grid-template-columns: to-gameplay-scale(84px) to-gameplay-scale(98px);

  &__title {
    grid-row: 1;
    grid-column: 1 / 5;
    font-size: to-gameplay-scale(2.4rem);
    color: white;
    text-align: center;
    align-self: center;
    @include strokeText;
  }

  &__tribute {
    grid-row: 2;
    grid-column: 2;
    font-size: to-gameplay-scale(2.2rem);
    color: white;
    @include strokeText;
  }

  &__duration {
    grid-row: 2;
    grid-column: 3;
    font-size: to-gameplay-scale(2.2rem);
    color: white;
    @include strokeText;
  }

  &__chest {
    grid-row: 2;
    grid-column: 2;
    width: to-gameplay-scale(68px);
    height: to-gameplay-scale(68px);
    background-image: url(../../../../img/quest-progress/quest-progress_chest.png);
    background-size: contain;
    transform: translateX(to-gameplay-scale(50px));
    z-index: 990;

    cursor: pointer;

    &:hover {
      animation: pulsate 1s infinite;
    }
  }

  &__btn--dismiss {
    grid-row: 1;
    grid-column: 4;
    justify-self: end;
    margin: -10px;
    margin-right: 0;
    width: to-gameplay-scale(50px);
    height: to-gameplay-scale(50px);
    background-image: url(../../../../img/guild-display/guild-btn_dismiss_hero.png);
    background-size: cover;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
