@import "../../../utils/css/index.scss";

.building-display {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgba($color: black, $alpha: 0.8);
  cursor: default;
  z-index: 1000;

  &__container {
    margin: auto;
    height: 96%;
    width: 95%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    border: 1px solid $border-color;
    border-radius: 8px;
    // @include strokedInOut(2px);
    // background-color: #695139;
  }

  &__title {
    position: relative;
    min-height: 40px;
    // width: 100%;
    display: flex;
    // gap: 10px;
    // justify-content: center;

    &_name {
      margin: auto;
      margin-bottom: 0px;
      // margin-top: 10px;
      // display: grid;
      // grid-template-rows: repeat(2, min-content);
      // grid-template-columns: repeat(3, max-content);
      // grid-template-columns: min-content repeat(3, max-content) min-content;
      // column-gap: 8px;

      justify-self: center;
      align-self: center;

      font-family: inherit;
      font-size: 30px;
      color: darkkhaki;
      // text-align: center;
      // @include strokeText;
      cursor: default;
    }
  }

  &__display-content {
    padding: 10px;
    overflow-y: scroll;
  }

  &__msg-upgrade {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    font-family: inherit;
    font-size: 24px;
    color: peru;
    @include strokeText;
    cursor: default;
    text-align: center;
    z-index: 2000;

    &__span {
      font-size: larger;
      color: white;
    }
  }

  &__btn-upgrade {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    font-family: inherit;
    font-size: 24px;
    border: solid 2px yellow;
    border-radius: 20%;
    // @include strokedInOut(1px);
    outline: none;
    background-color: rgba($color: yellow, $alpha: 0.2);
    color: yellow;
    z-index: 2000;
    cursor: pointer;

    // &__span {
    //   font-size: larger;
    //   color: white;
    // }

    // &:hover {
    //   background-color: darkgreen;
    // }
  }

  &__btn-close {
    @include closeOverlayBtn;
  }
}

.btn-upgrade_disabled {
  cursor: default;
  opacity: 0.5;

  &:hover {
    background-color: green;
  }
}

.title__underscore {
  width: 90%;
  align-self: center;
  border-color: rgba($color: white, $alpha: 0.2);
}

// .title {
//   margin-top: 10px;
//   display: grid;
//   grid-template-rows: repeat(2, min-content);
//   grid-template-columns: repeat(3, max-content);
//   // grid-template-columns: min-content repeat(3, max-content) min-content;
//   // column-gap: 8px;

//   font-family: inherit;
//   font-size: 24px;
//   color: darkkhaki;
//   text-align: center;
//   @include strokeText;
//   cursor: default;

//   &__name {
//     grid-row: 1;
//     grid-column: 2 / span 3;
//   }

//   &__bottom {
//     &_left {
//       width: 83px;
//       grid-row: 2;
//       grid-column: 2;
//     }

//     &_center {
//       width: 30px;
//       grid-row: 2;
//       grid-column: 3;
//       justify-self: center;
//     }

//     &_right {
//       width: 83px;
//       grid-row: 2;
//       grid-column: 4;
//       justify-self: end;
//     }
//   }
// }
