@import "../../../utils/css/index.scss";

.building-display {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-image: url(../../../img/building-display/background_3.jpg);
  background-position: center;
  background-size: cover;
  cursor: default;
  z-index: 1000;

  &__title {
    position: relative;
    min-height: 40px;
    display: flex;
    background-color: rgba($color: black, $alpha: 0.6);

    &_name {
      @include strokeText;

      margin: auto;

      justify-self: center;
      align-self: center;

      font-family: inherit;
      font-size: 26px;
      color: darkkhaki;
      cursor: default;
    }
  }

  &__display-content {
    padding: 0;
    overflow-y: scroll;
  }

  &__msg-upgrade {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    font-family: inherit;
    font-size: 24px;
    color: peru;
    @include strokeText;
    cursor: default;
    text-align: center;
    z-index: 2000;

    &__span {
      font-size: larger;
      color: white;
    }
  }

  &__btn-upgrade {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    font-family: inherit;
    font-size: 24px;
    border: solid 2px yellow;
    border-radius: 20%;
    outline: none;
    background-color: rgba($color: yellow, $alpha: 0.2);
    color: yellow;
    z-index: 2000;
    cursor: pointer;
  }

  &__btn-close {
    @include closeOverlayBtn;
  }
}

.btn-upgrade_disabled {
  cursor: default;
  opacity: 0.5;

  &:hover {
    background-color: green;
  }
}
