@keyframes appear {
  0% {
    transform: translateX(100%);
  }

  95% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pulsate {
  0% {
    transform: translateX(38px) scale(1.4);
    box-shadow: 0 1rem 4rem rgba($color: black, $alpha: 0.25);
  }

  50% {
    transform: translateX(38px) scale(1.5);
    box-shadow: 0 2rem 4rem rgba($color: black, $alpha: 0.25);
  }

  100% {
    transform: translateX(38px) scale(1.4);
    box-shadow: 0 1rem 4rem rgba($color: black, $alpha: 0.25);
  }
}

@keyframes springing {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-7px);
  }
  30% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
