@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin defaultDisplayHeroes {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  grid-row-gap: 15px;
  justify-content: center;
}

@mixin defaultDisplayText {
  padding: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  font-family: inherit;
  font-size: 24px;
  color: white;
  @include strokeText;
}

@mixin strokeText {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@mixin strokedInOut($size) {
  $plus: $size;
  $minus: -$size;
  box-shadow: inset $plus $plus black, inset $minus $minus black, $plus $plus black, $minus $plus black, $size $minus black, $minus $minus black;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin closeOverlayBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 32px;
  width: 32px;
  // min-width: 42px;
  // min-height: 42px;
  font-size: 24px;
  // font-family: sans-serif;
  font-weight: bold;
  color: $border-color;
  border: 2px solid $border-color;
  border-radius: 10px;
  // @include strokedInOut(1px);
  outline: none;
  // background-image: url(../../img/building-display/__btn-close.png);
  // background-size: cover;
  // background-color: transparent;
  background-color: rgba($color: white, $alpha: 0.2);
  z-index: 2000;
  cursor: pointer;

  &::before {
    content: "X";
    @include strokeText;
  }

  // &:hover {
  //   color: $border-color_hover;
  //   border-color: $border-color_hover;
  //   background-color: rgba($color: black, $alpha: 0.15);
  // }
}
