@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin strokeText {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin closeOverlayBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 52px;
  height: 38px;
  background-image: url(../../img/building-display/__btn-close.png);
  background-size: contain;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 2000;
  cursor: pointer;

  &:hover {
    top: 18px;
  }
}
