@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin strokeText {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@mixin strokedInOut($size) {
  $plus: $size;
  $minus: -$size;
  box-shadow: inset $plus $plus black, inset $minus $minus black, $plus $plus black, $minus $plus black, $size $minus black, $minus $minus black;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin closeOverlayBtn {
  margin: 10px;
  width: 42px;
  height: 42px;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
  color: $border-color;
  border: 2px solid $border-color;
  @include strokedInOut(1px);
  outline: none;
  background-color: rgba($color: black, $alpha: 0.2);
  z-index: 2000;
  cursor: pointer;

  &::before {
    content: "X";
    @include strokeText();
  }

  &:hover {
    color: $border-color_hover;
    border-color: $border-color_hover;
    background-color: rgba($color: black, $alpha: 0.15);
  }
}
