.market-item {
  width: 93vw;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  background-color: #857565;

  & > * {
    cursor: default;
  }

  &__img {
    grid-row: 1 / -1;
    grid-column: 1;
    width: 64px;
    height: 64px;
    margin-left: 2px;
  }

  &__name {
    grid-row: 1;
    grid-column: 2;
    font-size: 26px;
    color: lightblue;
    align-self: center;
  }

  &__stats {
    grid-row: 2;
  }

  &__price {
    grid-row: 1;
    grid-column: 3;
    margin-right: 5px;
    align-self: center;
    justify-self: end;
    color: yellow;
  }
}
