@import '../../../../utils/css/index.scss';

.quest-travel-item {
  width: 160px;
  height: 60px;

  position: relative;
  display: flex;
  flex-direction: column;

  color: white;

  border: 2px solid brown;
  cursor: default;

  z-index: 20;

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__title {
    @include strokeText;
    width: 80%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin-left: 8px;
  }

  &__travel-time {
    @include strokeText;

    margin: auto 5px auto 0;
    font-size: 36px;
    color: white;
    justify-self: end;
    align-self: flex-end;
  }

  &__btn-start {
    margin: auto 0;
    display: none;
    font-family: inherit;
    font-size: 16px;
    padding: 3px;
    align-self: flex-end;
    cursor: pointer;
    background-color: chartreuse;
    border: none;
    outline: none;
    animation: springing 1s linear infinite;
  }

  &__btn-cancel {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 21px;
    height: 16px;
    background-image: url(../../../../img/building-display/__btn-close.png);
    background-size: cover;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      margin-top: 3px;
    }

    &__hidden {
      display: none;
    }
  }
}

.btn-start__visible {
  display: flex;
}
