@import "../../utils/css/index.scss";

.header {
  position: relative;
  font-size: 22px;
  height: $header_height;
  background-color: #777;
  border-bottom: 1px solid #f4f2f2;
  box-sizing: border-box;
  z-index: 100;

  display: flex;

  &__title {
    align-self: center;
    color: lavender;
    margin-left: 10px;
    margin-right: auto;
  }

  &__btn-logout {
    height: $header_height;
    width: 60px;
    font-family: inherit;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: yellowgreen;
    border: none;
    outline: none;

    &:hover {
      background-color: chocolate;
    }
  }

  &__resources {
    padding-right: 20px;
    display: flex;
    color: lightblue;
    align-items: center;
    @include strokeText;
    cursor: default;

    &-fame {
      &--img {
        width: 24px;
        height: 24px;
        background-image: url(../../img/header/header-fame.png);
        background-size: cover;
      }
    }

    &-gold {
      &--img {
        margin-left: 20px;
        width: 24px;
        height: 24px;
        background-image: url(../../img/quest-perform/dust-drop.png);
        background-size: cover;
      }
    }
  }
}
