@import "../../utils/variables.scss";
@import "../../utils/functions.scss";

.header {
  font-size: 2rem;
  height: $header_height;
  background-color: #777;
  border-bottom: 1px solid #f4f2f2;

  display: flex;

  &__title {
    color: lavender;
    margin-left: 10px;
    margin-right: auto;
  }

  &__btn-logout {
    height: $header_height;
    width: 7%;
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: yellowgreen;
    border: none;
    outline: none;

    &:hover {
      background-color: chocolate;
    }
  }

  &__resources {
    color: khaki;
    &-fame {
      display: inline-block;
      transform: translateY(-20%);
      margin-right: 30px;
      &--img {
        display: inline-block;
        width: to_gameplay_scale(40px);
        height: to_gameplay_scale(40px);
        background-image: url(../../img/header/header-fame.svg);
      }
    }

    &-gold {
      display: inline-block;
      transform: translateY(-20%);
      margin-right: 30px;
      &--img {
        display: inline-block;
        width: to_gameplay_scale(40px);
        height: to_gameplay_scale(40px);
        background-image: url(../../img/header/header-gold.svg);
      }
    }
  }
}
