@import "../../../utils/variables.scss";
@import "../../../utils/functions.scss";
@import "../../../utils/mixins.scss";

.quest-process-display {
  @include absoluteCenter;
  display: flex;
  width: $gameplay_width;
  height: $gameplay_height;
  background-image: url(../../../img/tavern-display/tavern-display_bg.png);
  background-size: cover;
  z-index: 1010;

  &__btn--close {
    position: absolute;
    float: right;
    top: 1rem;
    right: 3rem;
    width: to-gameplay-scale(84px);
    height: to-gameplay-scale(84px);
    background-image: url(../../../img/guild-display/guild-btn_dismiss_hero.png);
    border: none;
    outline: none;
    background-color: transparent;
    z-index: inherit;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__container {
    display: grid;
    width: 85%;
    height: max-content;
    margin: 0 auto;
    align-self: center;
    grid-template-rows: max-content 1fr;
    grid-template-columns: min-content 1fr;
    gap: 10px;
    // flex-direction: column;
    // justify-content: center;
  }

  &__name {
    font-family: inherit;
    font-size: 3.4rem;
    color: peru;
    // align-self: center;
    @include strokeText;
    cursor: default;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }

  &__heroes-holder {
    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: min-content;
    gap: to-gameplay-scale(20px);
  }
}
