@import "../../../../utils/css/index.scss";

.alchemist-display {
  display: flex;
  gap: 30px;

  &__visitors-holder {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 15px;
  }

  &__assortment__list {
    margin: 10px;
  }

  &__assortment-holder {
    height: 400px;
    display: flex;
    font-family: inherit;
    font-size: 20px;
    @include strokeText;
    color: whitesmoke;
    overflow-y: scroll;
    background-color: #908070;
    border-radius: 5px;

    & ul {
      list-style: none;

      & li {
        margin-bottom: 10px;

        & hr {
          border-color: bisque;
        }
      }
    }
  }
}
