@import "../../../utils/functions.scss";

.quest-details {
  position: absolute;
  width: to-gameplay-scale(700px);
  height: to-gameplay-scale(600px);
  top: 15%;
  left: 11%;
  background-image: url(../../../img/guild-display/guild-quest_scroll_maxed.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: default;

  display: grid;
  grid-template-rows: 80px 40px 140px 40px 60px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;

  & > * {
    grid-column: 1/ -1;
  }

  &__btn--close {
    position: inherit;
    width: 50px;
    height: 50px;
    right: 20px;
    background-image: url(../../../img/guild-display/guild-btn_dismiss_hero.svg);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__btn--accept {
    position: inherit;
    right: 25px;
    bottom: 0;
    width: to-gameplay-scale(104px);
    height: to-gameplay-scale(154px);
    background-image: url(../../../img/guild-display/guild-btn_accept_quest.svg);
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    grid-row: 2;
    align-self: center;
    text-align: center;
  }

  &__description {
    font-size: 1.8rem;
    grid-row: 3;
    margin-left: 40px;
    margin-right: 40px;
  }

  &__level {
    font-size: 4rem;
    position: inherit;
    top: 20px;
    left: 40px;
  }

  &__duration {
    text-transform: uppercase;
    font-size: 2.2rem;
    grid-row: 4;
    align-self: center;
    margin-left: 40px;
  }

  &__tribute {
    text-transform: uppercase;
    font-size: 2.2rem;
    grid-row: 4;
    grid-column: 2;
    align-self: center;
    margin-left: 20px;
  }

  &__assigned-heroes {
    grid-row: 5;
    grid-column: 1 /-1;

    display: grid;
    grid-template-columns: 25px repeat(5, 1fr);
    gap: 10px;

    &__hero {
      width: to-gameplay-scale(80px);
      height: to-gameplay-scale(80px);
      display: block;
      justify-self: center;

      &:first-child {
        grid-column: 2;
      }

      &--warrior {
        height: inherit;
        background-image: url(../../../img/guild-display/guild-hero_icon_warrior.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
      &--wizard {
        height: inherit;
        background-image: url(../../../img/guild-display/guild-hero_icon_wizard.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      &-name {
        font-size: 1.2rem;
        margin-top: -2rem;
        margin-left: 5px;
      }

      &-dismiss {
        position: relative;
        top: -120%;
        left: 65%;
        width: to-gameplay-scale(40px);
        height: to-gameplay-scale(40px);
        background-image: url(../../../img/guild-display/guild-btn_dismiss_hero.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}
