@import "../../../../utils/css/index.scss";

.tavern-display {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;

  &__name {
    @include buildingDisplayName;
  }

  &__patrons-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    margin-top: 40px;
  }
}
