@import '../../../../utils/css/index.scss';

@mixin reward {
  padding: 2px;
  width: fit-content;

  position: absolute;
  right: 0;

  font-size: 16px;
  color: yellow;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 0 10px 10px rgba($color: black, $alpha: 0.5);
  z-index: 1200;
  transition: all 1s;
}

@keyframes healed {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@keyframes fly-away {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, -50px);
  }
}

.quest-hero-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 78px;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // background-color: rgba($color: black, $alpha: 0.5);
  // box-shadow: 0px 5px 5px black;
  cursor: default;

  &__display {
    @each $type in 'warrior' 'mage' 'thief' 'healer' {
      &_#{$type} {
        height: 100px;
        background-image: url(../../../../img/portraits/portrait-#{$type}.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &_hitted {
      animation: hitted 0.45s;
      animation-iteration-count: 1;
    }

    &_hitted-alt {
      animation: hitted-alt 0.45s;
      animation-iteration-count: 1;
    }
  }

  &__messages {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    display: flex;
    justify-content: flex-end;
  }

  &__message {
    @include strokeText;
    position: relative;
    font-family: inherit;
    font-weight: bold;
    font-size: 28px;
    color: red;
    animation: fly-away 1s;
    z-index: 2000;
  }

  &__bars {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    &_hidden {
      display: none;
    }
  }

  &__bar-holder {
    border: 1px solid white;
    background-color: rgba($color: black, $alpha: 0.7);
    box-shadow: 0px 5px 5px black;
  }

  &__bar {
    height: 12px;
    transition: all 1s;

    &_exp {
      background-color: yellow;
    }

    &_health {
      background-color: red;
    }

    &_psy {
      background-color: blueviolet;
    }

    &_overlay {
      margin-left: 2px;
      width: calc(100% - 4px);
      height: 85%;
      background: linear-gradient(to bottom, rgba($color: white, $alpha: 0.4), rgba($color: white, $alpha: 0.2));
    }

    &_hidden {
      display: none;
    }
  }

  &__name {
    @include strokeText;
    position: absolute;
    bottom: 30px;
    left: 3px;
    align-self: center;
    font-size: 18px;
    color: white;
  }

  &__status-holder {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }

  &__status {
    margin: 5px;
    width: 24px;
    height: 24px;
    background-size: contain;
    border-radius: 5px;

    @each $type in 'defended' 'burn' 'stunned' 'bleeding' {
      &_#{$type} {
        background-image: url(../../../../img/quest-perform/status-effect/status-effect__#{$type}.png);
      }
    }
  }

  &__reward {
    &--experience {
      @include reward;

      &::before {
        content: '+';
      }
      &::after {
        content: '\00a0 exp';
      }
    }

    &--gold {
      @include reward;
      top: 30px;

      &::before {
        content: '+';
      }
      &::after {
        content: '\00a0 gold';
      }
    }
  }

  &__current {
    border: 1px solid yellow;
    // background-color: rgba($color: black, $alpha: 0.6);
  }

  &__defeated {
    margin-top: 30px;
    height: 70px;
    background-image: url(../../../../img/quest-perform/battle-process/hero-defeated.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.heal-icon {
  // top: 30%;
  // left: 30%;
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  margin: auto;
  transform: scale(1);
  z-index: 1050;

  &__playing {
    animation: healed 0.45s;
    animation-iteration-count: 1;
  }
}
