@import '../../../../../utils/css/index.scss';

.battle-process {
  overflow: hidden;
  height: calc(100vh - #{$header_height} - 40px);

  &__monsters-holder {
    margin: 0 auto;
    width: 80%;
    display: grid;
    justify-content: center;

    transform: translateY(30%);
  }
}
