@import "../../utils/mixins.scss";
@import "../../utils/variables.scss";
@import "../../utils/functions.scss";

.quest-reward {
  height: $gameplay_height;
  width: $gameplay_width;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: black, $alpha: 0.8);
  background-image: url(../../img/quest-reward/reward-scroll.svg);
  cursor: default;
  z-index: 1000;

  &__content {
    @include absoluteCenter;
    // height: 60%;
    // width: 40%;

    display: grid;
    grid-template-rows: 15% 18% 15% 5% 15% 5% 1fr;
  }

  &__title {
    font-size: to-gameplay-scale(7rem);
    grid-row: 1;
    justify-self: center;
  }

  &__tribute {
    color: white;
    font-size: to-gameplay-scale(8rem);
    grid-row: 3;
    margin-left: 45%;
    align-self: center;
  }

  &__fame {
    color: white;
    font-size: to-gameplay-scale(8rem);
    grid-row: 5;
    margin-left: 45%;
    align-self: center;
  }

  &__heroes-holder {
    grid-row: 7;
    justify-self: center;
    align-self: flex-end;

    display: flex;
    gap: to-gameplay-scale(30px);
  }
}
