@import "../../../utils/css/index.scss";

.game-world {
  @include absoluteCenter;
  display: block;
  width: 620px;
  height: 620px;
  background-image: url(../../../img/station.png);
  z-index: 10;
}
