@import "../../../utils/css/index.scss";

.game-world {
  @include absoluteCenter;
  display: block;
  width: $gameplay_width;
  height: $gameplay_height;
  background-image: url(../../../img/map/village.png);
  background-size: cover;
}
