@import "../../../utils/css/index.scss";

.skybox {
  @include absoluteCenter;
  width: 100%;
  height: 100%;
  background-image: url(../../../img/skybox.png);
  background-repeat: no-repeat;
  background-position: center;
}
