.quest-map {
  &__container {
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    height: 60vh;
    align-self: center;
    background-image: url(../../../../img/quest-perform/quest-map/quest-map.png);
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    gap: 50px;
  }

  &__checkpoint-marker {
    align-self: center;
    width: 36px;
    height: 48px;
    background-size: cover;

    &--passed {
      background-image: url(../../../../img/quest-perform/quest-map/__marker/quest-map__marker_passed.png);
    }

    &--active {
      cursor: pointer;
      background-image: url(../../../../img/quest-perform/quest-map/__marker/quest-map__marker_active.png);

      &:hover {
        scale: 1.1;
        transform: translateY(-3px);
      }
    }

    &--inactive {
      background-image: url(../../../../img/quest-perform/quest-map/__marker/quest-map__marker_inactive.png);
      opacity: 0.3;
    }
  }
}
